<div nz-flex nzVertical="true" nzGap="20px" [formGroup]="filterForm">
    <div nz-col nzSpan="24" nz-flex nzVertical="true">
      <span nz-typography><strong>PERIODO</strong></span>
      <nz-select
        formControlName="periodo"
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolderPeriodo"
        nzMode="multiple"
        nzPlaceHolder="Selecciona..."
      >
        @for (item of listOfOption; track item) {
        <nz-option [nzLabel]="item" [nzValue]="item"></nz-option>
        }
      </nz-select>
      <ng-template #tagPlaceHolderPeriodo let-selectedList
        >{{ selectedList.length }} + Seleccionados</ng-template
      >
    </div>
  
    <div nz-col nzSpan="24" nz-flex nzVertical="true">
      <span nz-typography><strong>LOCALIDAD</strong></span>
      <nz-select
        formControlName="localidad"
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolderLocal"
        nzMode="multiple"
        nzPlaceHolder="Selecciona..."
      >
        @for (item of listOfOption; track item) {
        <nz-option [nzLabel]="item" [nzValue]="item"></nz-option>
        }
      </nz-select>
      <ng-template #tagPlaceHolderLocal let-selectedList
        >{{ selectedList.length }} + Seleccionados</ng-template
      >
    </div>
  
    <div nz-col nzSpan="24" nz-flex nzVertical="true">
      <span nz-typography><strong>SECTOR</strong></span>
      <nz-select
        formControlName="sector"
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolderSector"
        nzMode="multiple"
        nzPlaceHolder="Selecciona..."
      >
        @for (item of listOfOption; track item) {
        <nz-option [nzLabel]="item" [nzValue]="item"></nz-option>
        }
      </nz-select>
      <ng-template #tagPlaceHolderSector let-selectedList
        >{{ selectedList.length }} + Seleccionados</ng-template
      >
    </div>
  
    <div nz-col nzSpan="24" nz-flex nzVertical="true">
      <span nz-typography><strong>RUTA</strong></span>
      <nz-select
        formControlName="ruta"
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolderRuta"
        nzMode="multiple"
        nzPlaceHolder="Selecciona..."
      >
        @for (item of listOfOption; track item) {
        <nz-option [nzLabel]="item" [nzValue]="item"></nz-option>
        }
      </nz-select>
      <ng-template #tagPlaceHolderRuta let-selectedList
        >{{ selectedList.length }} + Seleccionados</ng-template
      >
    </div>
  
    <div nz-col nzSpan="24" nz-flex nzVertical="true">
      <span nz-typography><strong>LEÍDO</strong></span>
      <nz-select
        formControlName="leido"
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolderLeido"
        nzMode="multiple"
        nzPlaceHolder="Selecciona..."
      >
        @for (item of listOfOption; track item) {
        <nz-option [nzLabel]="item" [nzValue]="item"></nz-option>
        }
      </nz-select>
      <ng-template #tagPlaceHolderLeido let-selectedList
        >{{ selectedList.length }} + Seleccionados</ng-template
      >
    </div>
  
    <div nz-col nzSpan="24" nz-flex nzVertical="true">
      <span nz-typography><strong>FACTURADO</strong></span>
      <nz-select
        formControlName="facturado"
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolderFact"
        nzMode="multiple"
        nzPlaceHolder="Selecciona..."
      >
        @for (item of listOfOption; track item) {
        <nz-option [nzLabel]="item" [nzValue]="item"></nz-option>
        }
      </nz-select>
      <ng-template #tagPlaceHolderFact let-selectedList
        >{{ selectedList.length }} + Seleccionados</ng-template
      >
    </div>
  
    <div nz-flex nzHorizontal="true" nzAlign="center" nzJustify="center">
      <button nz-button nzType="primary" (click)="applyFilters()">
        Aplicar Filtros
      </button>
    </div>
  </div>
  